<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form id="myform" enctype="multipart/form-data" >
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>
    
    <h1 id="mess"></h1>

    <script>
        const myform = document.getElementById("myform");
        const mess = document.getElementById("mess");

        const serverLocation = "http://localhost:5000/pred"

        myform.addEventListener("submit" , async (event) =>{
            event.preventDefault();

            mess.innerHTML = "Loading..."

            let res = await fetch(serverLocation, {
                body: new FormData(myform), 
                method: 'POST'
            })

            let b = await res.text();
            console.log(b)
            mess.innerHTML = b;

        })

    </script>
    
</body>
</html>